<% var headerData = name; %>
<% include base/head.ejs %>
<main tabindex="-1" id="content" >
  <section class="projects">
    <div class="row">
      <h1 class="subTitle">Portfolio:</h3>
      <h2 class="title">Overzicht</h1>
      <% for(var i = 0; i < data.length; i++) {%>
        <article class="projects-single">
            <div class="projects-header">
              <h2 class="subTitle">Rol: <%= data[i].rol %></h3>
              <h1 class="title"><%= data[i].name %></h2>
              <div class="tags">
                <ul>
                  <li>
                    Test
                  </li>
                </ul>
              </div>
            </div>
            <div class="projects-image ratio">
              <div class="projects-image-photo" style="background-image: url('<%= data[i].fullImage %>'); ">
              </div>
            </div>
          <div class="projects-info">
            <p>
              <%= data[i].korteBeschrijving %>
            </p>
            <a href="/projects/<%= data[i].url %>">Lees verder <span class="visually-hidden">over <%= data[i].name %></span></a>
          </div>
        </article>
      <% } %>
    </div>
  </section>
</main>
<% include base/footer.ejs %>
